<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= pageTitle %> | <%= siteTitle %></title>
  </head>
  <body>
    <h2>Hello Dadashi!!</h2>
    <p>Look at the browser title!</p>
  </body>
</html>
